@use "@/shared/styles/variables" as *;


.column {
  --base-column-color: #9d66d5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;

  transition: opacity 0.2s ease-in-out;
}
