@use '@/shared/styles/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 1504px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 40px;

  padding: 0 32px;
}

.main {
  flex-grow: 1;
}
