.input {
  color: black;
  background: none;

  &:-webkit-autofill {
    appearance: none;
    background-color: transparent !important;
    color: inherit !important;
  }

  font-size: 14px;
}

.search {
  color: white;
  padding-bottom: 2px;
}

.auth {
}

.label {
  padding-left: 0.5rem;

  &-auth {
    color: black;
  }
}


.black {
  color: black
}

.white {
  color: white
}
