@use '@/shared/styles/variables' as *;

.nav {
  border: 2px solid $blue;
  border-radius: $base-border-radius;

  max-width: 300px;
}

.navList {
  display: flex;
  flex-wrap: wrap;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 148px;
  height: 100px;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 60px;
}

.leftItem {
  border-right: 2px solid $blue;

  &:not(:nth-child(5)) {
    border-bottom: 2px solid $blue;
  }
}

.rightItem:not(:last-child) {
  border-bottom: 2px solid $blue;
}
