@use "@/shared/styles/variables" as *;

.users {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userList {
  display: flex;
  justify-content: flex-end;

  flex-grow: 1;
}

.itemBase {
  aspect-ratio: 1;
  cursor: pointer;
  padding: 4px;


  background: black;
  border: 2px solid white;
  border-radius: 100%;
}

.userItem {
  @extend .itemBase;

  max-height: 2.5rem;
  max-width: 2.5rem;

  width: 2.5rem;
  height: 2.5rem;

  margin-left: -0.6rem;


  &Task {
    @extend .itemBase;

    max-height: 1.875rem;
    max-width: 1.875rem;

    width: 1.825rem;
    height: 1.825rem;

    margin-left: -0.5rem;
  }
}


.moreCountUsers {
  @extend .itemBase;

  display: flex;
  align-items: center;
  justify-content: center;

  background: black;
  border: 2px solid $blue;

  & p {
    color: $blue
  }
}