@use '@/shared/styles/variables' as *;
@use '@/shared/styles/breakpoints' as *;

.user {
  --block-size: 110px;

  max-height: var(--block-size);
  height: 100%;

  display: flex;
  align-items: center;
  gap: 16px;

  margin-left: 6px;
}

.leftSide {
  --second-line-size: 100px;

  @include small-laptop{
    --block-size: 90px;
    --second-line-size: 80px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: var(--block-size);
  max-height: var(--block-size);

  width: 100%;
  height: 100%;

  position: relative;

  &:before {
    content: '';
    position: absolute;

    left: 5px;
    top: 5px;

    width: var(--second-line-size);
    height: var(--second-line-size);

    border: 2px solid $blue;
    border-radius: 100%;
  }
  &:after {
    content: '';
    position: absolute;

    left: 0;
    top: 0;

    width: var(--block-size);
    height: var(--block-size);

    border: 2px solid $blue;
    border-radius: 100%;
  }

  & img {
    padding: 17.5px 17.5px 17.5px 19.5px;
    cursor: auto;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & p {
    cursor: text;
  }
}
