@use '@/shared/styles/variables' as *;

.size-xss {
  font-size: 10px;
}

.size-xs {
  font-size: 12px;
}

.size-13 {
  font-size: 13px;
}

.size-s {
  font-size: 14px;
}

.size-m {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-l {
  font-size: 20px;
}

.size-xl {
  font-size: 24px;
}

.default {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.transparent {
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.error {
  color: red;
  padding-left: 0.5rem;
}

.link {
  color: black;
}