@use '@/shared/styles/variables' as *;

.form {
  color: white; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  width: 550px;
  height: 150px;

  padding: 2rem;

  border-radius: $base-border-radius;
  background-color: $bg;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & input {
    padding: 0.5rem 1rem;
    border: 2px solid $purple;
    border-radius: $base-border-radius;
  }
}